<clr-main-container>
  <clr-header class="header-5">
    <div class="branding">
      <a href="/admin" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Project Clarity</span>
      </a>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon">
          <clr-icon shape="cog"></clr-icon>
      </a>
  </div>

  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>

    <clr-vertical-nav [clrVerticalNavCollapsible]="true" 
    [(clrVerticalNavCollapsed)]="collapsed" [clr-nav-level]="1">

      <a clrVerticalNavLink routerLink="/admin/main" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
        หน้าหลัก
      </a>
      <a clrVerticalNavLink routerLink="/admin/new" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="plus"></clr-icon>
        เพิ่มผู้ใช้งาน
      </a>

      <a clrVerticalNavLink routerLink="/admin/credit" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="certificate"></clr-icon>
        Credit
      </a>
    </clr-vertical-nav>

  </div>
</clr-main-container>