<div class="login-wrapper">
  <form class="login">
      <label class="title">
          <h3 class="welcome">Welcome to</h3>
          Users Managemetn System
          <h5 class="hint">Manage user</h5>
      </label>
      <div class="login-group">
          <input class="username" type="text" name="username" [(ngModel)]="username" placeholder="Username">
          <input class="password" type="password" name="password" [(ngModel)]="password" placeholder="Password">
          <div class="error active" *ngIf="isError">
              {{errorMessage}}
          </div>
          <button type="button" (click)="doLogin()" [disabled]="!username || !password" class="btn btn-primary">Login</button>
      </div>
  </form>
</div>