<div class="login-wrapper">
  <form class="login">
      <label class="title">
          <h3 class="welcome">Welcome to</h3>
          Users Managemetn System
          <h5 class="hint">Manage user</h5>
      </label>
      <div class="login-group">
          <input class="username" type="text" id="login_username" placeholder="Username">
          <input class="password" type="password" id="login_password" placeholder="Password">
          <div class="error active">
              Invalid user name or password
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
      </div>
  </form>
</div>