<clr-datagrid style="height: 100%;" [clrDgLoading]="loding" [(clrDgSelected)]="selected">

  <clr-dg-column [clrDgField]="'username'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Username
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'first_name'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      First name
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'last_name'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Last name
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'user_type_name'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Type
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'is_active'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Active
    </ng-container>
  </clr-dg-column>

  <clr-dg-row *clrDgItems="let user of users; let idx = index;" [clrDgItem]="user">
    <clr-dg-action-overflow>
      <button class="action-item" routerLink="/edit/{{user.user_id}}">
        <clr-icon shape="note"></clr-icon> Edit
      </button>
      <button class="action-item" (click)="remove(user, idx)">
        <clr-icon shape="trash"></clr-icon> Delete
      </button>
    </clr-dg-action-overflow>
    <clr-dg-cell>{{user.username}}</clr-dg-cell>
    <clr-dg-cell>{{user.first_name}}</clr-dg-cell>
    <clr-dg-cell>{{user.last_name}}</clr-dg-cell>
    <clr-dg-cell>{{user.user_type_name}}</clr-dg-cell>
    <clr-dg-cell>
      <clr-icon shape="user" class="is-success" *ngIf="user.is_active==='Y'"></clr-icon>
      <clr-icon shape="user" class="is-danger has-badge" *ngIf="user.is_active==='N'"></clr-icon>
    </clr-dg-cell>
  </clr-dg-row>


  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
    <clr-dg-pagination #pagination [clrDgPageSize]="20"></clr-dg-pagination>
  </clr-dg-footer>


</clr-datagrid>