<header class="header-6">
  <form class="search">
      <label for="search_input">
        <input id="search_input" #search 
        style="width: 500px;" 
        type="text" 
        placeholder="Search for keywords...">
      </label>
  </form>
</header>


<agm-map 
[latitude]="lat" 
[longitude]="lng" 
[zoom]="zoom"
[mapTypeId]="mapTypeId"
(mapClick)="onMapClick($event)"
>
  <!-- <agm-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng"></agm-marker> -->
  <agm-marker [latitude]="latMark" [longitude]="lngMark"></agm-marker>
</agm-map>
